:root{
	font-family:'Montserrat';
}
.header{
	height:4em;
	padding:1em;
	background-color:white;
	box-shadow:0.3rem 0 0.3rem rgba(0,0,0,0.1);
}
.sepia{
	background-color: rgba(150,150,190,0.85);
	z-index:2;
}
.main-bg{
	background-image: url("../images/main.jpg");
	background-position: center;
	background-size:cover;
}
.start-container{
	z-index:3;
}
.main-padding{
	padding-left:18%;
	padding-right:18%;
}
.nav-menu li+li{
	margin-left:3rem;
}
.nav-menu-item{
	cursor:pointer;
	transition:color 0.2s ease-in-out;
	position:relative;
	display:flex;
	align-items:center;
}
.nav-menu-item>a{
	color:coral;
	text-decoration:none;
}
.nav-menu-item::before{
	position:absolute;
	display:block;
	content:"";
	width:1rem;
	opacity:0;
	border-radius:2px;
	height: 3px;
	left:-1.4rem;
	background-color: coral;
	transition:opacity 0.2s ease-in-out;
}
.nav-menu-item:hover::before{
	opacity:1;
}
.cart{
	display:flex;
	align-items:center;
	position:relative;
	height:2.4rem;
	width:2.4rem;
	padding:0;
	background-color: transparent;
	background-image: url('../images/icons/cart.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
	border-radius:50%;
	cursor:pointer;
	transition:background 0.1s ease-in-out;
}
.cart:hover{
	background-image: url('../images/icons/cart-fill.svg');
}

.product-counter{
	z-index:2;
	position:absolute;
	right:-0.5em;
	top:0;
	background-color: #dd5d30;
	color:white;
	font-weight:bold;
	font-size: 0.7rem;
	display:flex;
	align-items:center;
	justify-content:center;
	line-height:1;
	border-radius:1em;
	padding:0 0.5em;
	height:1.5em;
}

.nav-menu-btn{
	position:relative;
	width:2.4rem;
	height:2.4rem;
	padding:0;
	display:flex;
	align-items:center;
	justify-content:center;
	background-color:transparent;
}
.nav-menu-btn::after{
	margin-top:0.1rem;
	position:absolute;
	display:flex;
	content:'\2261';
	color:coral;
	font-size:1.7em;
	line-height:1;
	transform:scaleX(1.3);
	transition:color 0.2s ease-in-out;
}
.nav-menu-btn:hover::after{
	color:#dd5d30;
}

.delimiter{
	margin:1.5rem 0;
	height:1px;
	border:none;
	background-color: #eee;
}
.card{
	min-height:35vh;
	box-shadow:0 0 0.2rem 0.1rem rgba(0,0,0,0.1);
	border-radius:0.8rem 0.8rem 0 0.8rem;
}
.card:nth-child(3n+2){
	margin-left:2rem;
	margin-right:2rem;
}
.card:nth-child(n+4){
	margin-top:2rem;
}
.check-filter li+li{
	margin-top:0.5rem;
}

.button{
	font-weight:bold;
	border-radius:2em;
	background-color: coral;
	color:white;
}
.button:hover{
	background-color: #dd5d30;
	box-shadow:0 0.3rem 0.05rem rgba(0,0,0,0.1);
	transform:translateY(-0.3rem);
}
.add-product-button-active{
	background-color: #ccf;
}
.add-product-button-active:hover{
	background-color: #aad;
}
.input-text{
	border-radius:0.4rem;
	font-size: 0.9rem !important;
	background-color: transparent !important;
	border-color:#ddd !important;
}

input[type="checkbox"]{
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	cursor:pointer;
	border:1px solid #ccc;
	width:1.4rem;
	height:1.4rem;
	border-radius:0.2rem;
	position:relative;
	display:flex;
	align-items:center;
	justify-content:center;

}
input[type="checkbox"]:checked::after{
    width: 30%;
    display:inline-block;
    margin-top:-0.1rem;
    position:absolute;
    content:'';
    height: 60%;
    border: solid #fff;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
}
input[type="checkbox"]:checked{
	background-color:coral;
	border:1px solid coral;
}

.page-control{
	box-shadow:0 0 0.2rem 0.1rem rgba(0,0,0,0.1);
	border-radius:0.5rem;
}
.page-control-item{
	cursor:pointer;
	transition:color 0.2s ease-in-out;
	position:relative;
	display:flex;
	justify-content:center;
}
.page-control-item:hover{
	color:coral;
}
.page-control-item-active{
	color:#dd5d30;
}
.page-control-item-active::after{
	content:"";
	display:block;
	height:0.2rem;
	width:150%;
	position:absolute;
	bottom:-0.2rem;
	background-color:#dd5d30;
}
.page-button{
	background-color: white;
}
.page-button:hover{
	background-color: #eee;
}
.r-page-buttons{
	overflow:hidden;
	border-radius:0 0.5rem 0.5rem 0;
}
.l-page-buttons{
	overflow:hidden;
	border-radius:0.5rem 0 0 0.5rem;
}
.filter-btn{
	border:3px solid coral;
	border-radius:0.5rem;
	color:coral;
	font-weight: bold;
}
.filter-btn-active{
	color:white;
	background-color: coral;
}
.button-img{
	width:1.5rem;
	height:1.5rem;
	background-color: transparent;
	background-position: right;
	background-repeat: no-repeat;
	background-size: cover;
	transition:background 0.1s ease-in-out;
}
.filter-btn:hover .filter-img{
	background-image: url('../images/icons/filter-off-fill.svg');
}
.filter-btn-active:hover .filter-img{
	background-image: url('../images/icons/filter-off-fill-w.svg');
}
.filter-img{
	background-image: url('../images/icons/filter-off-line.svg');
}
.filter-btn-active .filter-img{
	background-image: url('../images/icons/filter-off-line-w.svg');
}
.cart:hover{
	background-image: url('../images/icons/cart-fill.svg');
}
.no-product{
	color:#ccc;
	height:10rem;
}
.cart-item+.cart-item{
	border-top:1px solid #eee;
}
.switch-product-count{
	overflow:hidden;
	border-radius:0.5rem;
	border:1px solid #ccc;
	font-size:0.9em;
}
input.counter-input{
	background-color: #fff;
	border-left:none;
	border-right: none;
	border-color:#ccc;
	text-align:center;
	padding:0.4rem;
}
.counter-arrow{
	background-color: #fff;
	padding:0.2rem;
	overflow:hidden;
}
.counter-arrow:hover{
	background-color: #ccc;
}
.counter-arrow>span{
	display:block;
	transform:rotateZ(90deg);
}
.pay-block,.pay-item{
	border-top:1px solid #eee;
}

.close-button{
	display:block;
	padding: 0;
	color:#ddd;
	background-color: transparent;
}

.close-button:hover{
	color: #dd5d30;
}
.check-container{
	width:5rem;
	height:5rem;
	border-radius:50%;
	border:0.2rem solid #2d5;
	display:flex;
	justify-content:center;
	align-items:center;
}
.check{
	width: 30%;
    display:block;
    margin-top:-0.5rem;

    content:'';
    height: 60%;
    border: solid #2d5;
    border-width: 0 0.2rem 0.2rem 0;
    transform: rotate(45deg);
}
.success{
	color:#2d5;
}

.load-container{
	width:100%;
	height:100%;
	z-index: 100;
	left:0;
	top:0;
	position:absolute;
	background-color: rgba(255,255,255,0.7);
	display:flex;
	justify-content:center;
	align-items:center;
}
.load{
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	transform:rotateZ(45deg);
}
.load-item{
	position:absolute;
	width:0.8rem;
	height:0.8rem;
	background-color: coral;

}
#load1{
	top:-0.65rem;
	left:-0.65rem;
	animation: load 1.5s infinite 0s forwards;
}
#load2{
	top:-0.65rem;
	left:0.65rem;
	animation: load 1.5s infinite 0.2s forwards;
}
#load3{
	top:0.65rem;
	left:-0.65rem;
	animation: load 1.5s infinite 0.6s forwards;
}
#load4{
	top:0.65rem;
	left:0.65rem;
	animation: load 1.5s infinite 0.4s forwards;
}

@keyframes load{
	from{
		transform:scale(1);
	}
	10%{
		transform:scale(1.5);
	}
	50%{
		transform:scale(1.5);
	}
	60%{
		transform:scale(1);
	}
	to{
		transform:scale(1);
	}
}

/*-----------------------POPUP------------------*/
.popup-back{
	position:fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: -1;
	opacity: 0;
	width:100%;
	height:100%;
	background-color: rgba(80,80,80,0.6);
	transition: opacity 0.5s linear;
}
.popup-back-active{
	z-index:10000;
}
.popup-back-opacity{
	opacity:1;
}
.popup-message{
	position:relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: hidden;
	box-shadow: 0px 0px 10px #333;
	border-radius: 5px;
	background-color: white;
	font-size: 1rem;
	color: black;
}

@media(max-width:1023px) and (max-height:1023px){
	.main-padding{
		padding-left:2rem;
		padding-right:2rem;
	}
	.card:nth-child(3n+2){
		margin-left:0;
		margin-right:0;
	}
	.card+.card{
		margin-top:1.5rem;
	}
	.cart-item+.cart-item{
		border-top:none;
	}
	.cart-item{
		margin-top: 2rem;
		box-shadow:0 0 0.2rem 0.1rem rgba(0,0,0,0.1);
		border-radius:0.8rem 0.8rem 0 0.8rem;
	}
	.nav-bg{
		z-index: 100;
		left:0;
		top:4rem;
		display:flex;
		justify-content:flex-end;
		position:fixed;
		width:100%;
		height: calc(100% - 4rem);
		background-color: rgba(255,255,255,0.7);
		transition:transform 0.2s ease-in-out;
		transform:translateX(100%);
	}
	.nav-menu{
		background-color: white;
		height:100%;
		width:70%;
		box-shadow:0 0.3rem 0.1rem rgba(0,0,0,0.1);
		border-top:1px solid #eee;
		transition:transform 0.4s ease-in-out;
		transform:translateX(100%);
	}
	.nav-bg-active,.nav-menu-active{
		transform:translateX(0);
	}
	.nav-menu li+li{
		margin-left:0;
	}
	.nav-menu-item{
		width:100%;
		padding:0.8rem 1rem;
		transition:background-color 0.2s ease-in-out;
		border-bottom: 1px solid #eee;
	}
	.nav-menu-item:hover{
		background-color: #eee;
	}
	.nav-menu-item::before{
		display:none;
	}		
}

@media(max-width:1023px) and (max-height:1023px) and (orientation:landscape){
	.cart-item:nth-child(2n){
		margin-left:2rem;
	}
	.cart-item{
		max-width: calc(50% - 1rem);
	}
	.card+.card{
		margin-top: 0;
	}
	.card:nth-child(2n){
		margin-left:2rem;
	}
	.card{
		min-width: calc(50% - 1rem) !important;
	}
	.card:nth-child(n+3){
		margin-top: 2rem;
	}


}